<main class="main-content" id="main" style="position:relative;top:0;">
  <section class="slideshow">
    <div class="slideshow-inner">
      <div class="slides">
        <div class="slide is-active ">
          <div class="slide-content">
            <div class="caption">
              <div class="title">Banarasi Brocade</div>
              <div class="text">
                <!--p>Slide description 1</p-->
              </div> 
              <a href="#banarasi" class="btn">
                <span class="btn-inner">View More</span>
              </a>
            </div>
          </div>
          <div class="image-container"> 
            <img src="../assets/res/img/banarasi2.jpg" alt="" class="image" />
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <div class="caption">
              <div class="title">Worli</div>
              <div class="text">
                <!--p>Slide description 2</p-->
              </div> 
              <a href="#worli" class="btn">
                <span class="btn-inner">View More</span>
              </a>
            </div>
          </div>
          <div class="image-container">
            <img src="../assets/res/img/kalamkari1.jpg" alt="" class="image" />
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <div class="caption">
              <div class="title">Cotton Silk Ikkat</div>
              <div class="text">
                <!--p>Slide description 3</p-->
              </div> 
              <a href="#cotton" class="btn">
                <span class="btn-inner">View More</span>
              </a>
            </div>
          </div>
          <div class="image-container">
            <img src="../assets/res/img/cotton_silk2.jpg" alt="" class="image"/>
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <div class="caption">
              <div class="title">Organza Fabric</div>
              <div class="text">
                <!--p>Slide description 4</p-->
              </div> 
              <a href="#organza" class="btn">
                <span class="btn-inner">View More</span>
              </a>
            </div>
          </div>
          <div class="image-container"> 
            <img src="../assets/res/img/organza1.jpg" alt="" class="image" />
          </div>
        </div>
        <div class="slide">
          <div class="slide-content">
            <div class="caption">
              <div class="title">Ikkat Fabric</div>
              <div class="text">
                <!--p>Slide description 4</p-->
              </div> 
              <a href="#ikkat" class="btn">
                <span class="btn-inner">View More</span>
              </a>
            </div>
          </div>
          <div class="image-container"> 
            <img src="../assets/res/img/ikkat1.jpg" alt="" class="image" />
          </div>
        </div>
      </div>
      <div class="pagination">
        <div class="item is-active"> 
          <span class="icon">1</span>
        </div>
        <div class="item">
          <span class="icon">2</span>
        </div>
        <div class="item">
          <span class="icon">3</span>
        </div>
        <div class="item">
          <span class="icon">4</span>
        </div>
        <div class="item">
          <span class="icon">5</span>
        </div>
      </div>

      <div class="arrows">
        <div class="arrow prev">
          <span class="svg svg-arrow-left">
            <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"/> </svg>
            <span class="alt sr-only"></span>
          </span>
        </div>
        <div class="arrow next">
          <span class="svg svg-arrow-right">
            <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"/> </svg>
            <span class="alt sr-only"></span>
          </span>
        </div>
      </div>
    </div> 
  </section>
</main>

<br><br>
<div style="text-align: center;">
<div class="title">WELCOME TO RAAGVASTRA</div>
<hr width="70%;">
  <div class="text" style="font-family: 'Montserrat', sans-serif;">
  Discover our curated range of exquisite handlooms and fabric... Do let us know if we can be of any help! Browse our featured collections below, or use the menu to explore all our products.<br><br>

  <h3>Keep visiting this site for more updates!</h3>

</div>
<br><div style="text-align: center;">
<div class="title" id="banarasi">OUR FABRICS</div>
<hr width="40%;"></div>
<br>
<div>
<div class="title" style="font-size: 26px;" >BANARASI BROCADE</div></div><br>
<div class="container">
  
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../assets/res/img/banarasi2.jpg" target="_blank">
          <img src="../assets/res/img/banarasi1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>BANARASI BROCADE</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../assets/res/img/banarasi2.jpg" target="_blank">
          <img src="../assets/res/img/banarasi2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>BANARASI BROCADE</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
<div id="worli">
<br><div style="text-align: center;">
<div class="title" style="font-size: 26px;">WORLI AND KALAMKARI</div></div><br>
<div class="container">
  
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="../assets/res/img/kalamkari1.jpg" target="_blank">
          <img src="../assets/res/img/kalamkari1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>WORLI</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="../assets/res/img/kalamkari2.jpg" target="_blank">
          <img src="../assets/res/img/kalamkari2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>KALAMKARI</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="../assets/res/img/kalamkari3.jpg" target="_blank">
          <img src="../assets/res/img/kalamkari3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>KALAMKARI</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</div>

<div id="cotton">
<br><div style="text-align: center;">
<div class="title" style="font-size: 26px;">COTTON SILK IKKAT</div></div><br>
<div class="container">
  
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../assets/res/img/cotton_silk1.jpg" target="_blank">
          <img src="../assets/res/img/cotton_silk1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>COTTON SILK IKKAT</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../assets/res/img/cotton_silk2.jpg" target="_blank">
          <img src="../assets/res/img/cotton_silk2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>COTTON SILK IKKAT</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</div>

<div id="organza">
<br><div style="text-align: center;">
<div class="title" style="font-size: 26px;">ORGANZA FABRIC</div></div><br>
<div class="container">
  
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../assets/res/img/organza1.jpg" target="_blank">
          <img src="../assets/res/img/organza1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>ORGANZA FABRIC</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../assets/res/img/organza2.jpg" target="_blank">
          <img src="../assets/res/img/organza2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>ORGANZA FABRIC</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</div>

<div id="ikkat">
<br><div style="text-align: center;">
<div class="title" style="font-size: 26px;">IKKAT FABRIC</div></div><br>
<div class="container">
  
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../assets/res/img/ikkat1.jpg" target="_blank">
          <img src="../assets/res/img/ikkat1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>IKKAT FABRIC</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../assets/res/img/ikkat2.jpg" target="_blank">
          <img src="../assets/res/img/ikkat2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>IKKAT FABRIC</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
<br>
