
    <h3 style="display: inline;">Login</h3>
  <button class="btn" style="float:right;display:inline;" mat-dialog-close>&times;</button>


<div *ngIf="errMess">
  <h2>Error</h2>
  <h4>Please check if username or password is correct</h4>
</div>

<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
<br>
<div style="text-align:center">
  <mat-dialog-content>
    <h4>
      <mat-form-field>
        <input matInput placeholder="Username" type="text" [(ngModel)]="user.username" name="username"  #username="ngModel" required>
        <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
      </mat-form-field>
    </h4>
    <h4>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required>
        <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
      </mat-form-field>
      <br>
      <mat-checkbox [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>
    </h4>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button [disabled]="loginForm.form.invalid">Login</button>
  </mat-dialog-actions>
</div>
</form>