<footer style="font-family: 'Montserrat', sans-serif;">
  <div class="row">
  <div class="col-md-4 text-center">
  <h4>| Contact Us:</h4>
  <h5> Email: <a href="mailto:geet.shingi@gmail.com"> xyz@gmail.com</a></h5> 
  Visit us again for more updates!
  </div>
  <div class="col-md-4 text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-instagram"></a>
    <p>&copy; Copyright  xyz.com</p> 
  </div>
  <div class="col-md-4 text-center" id="fabrics">
  <h4>| OUR FABRICS</h4>
  <ul style="list-style-type:none;">
  <li><a href="#banarasi">Banarasi Brocade</a></li>
  <li><a href="#worli">Worli and Kalamkari</a> </li>
  <li><a href="#cotton">Cotton Silk Ikkat</a> </li>
  <li><a href="#organza">Organza Fabric</a> </li>
  <li><a href="#ikkat">Ikkat Fabric</a> </li>
  </ul>
</div>
  </div>
</footer>